body{
  font: 15px/1.5 arial, helvetica, sans-serif;


  background-color: #ffffff;

}


main{
	margin: 0 auto;
	max-width: 1100px;
	padding:10px;
	background-color:white;
  margin-top: 20px;

}
.photo-sp{
	margin-top: 80px;
}
.center-text{
	text-align:center;
}
/*Global */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header{
  background: #15508a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #0c3f5c 3px solid;


}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform:uppercase;
  font-size: 16px;


}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}

header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;

}
header .highlight, header .Current a{
  color: black;
  font-weight: bold;

}
header a:hover{
  color: #cccccc;
  font-weight: bold;

}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('images/background.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;

}

#showcase h1{
  margin-top:200px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}


h1{
	text-align:center;
	margin: auto;
	font-size: 40px;

}

h2{
	margin-top: 20px;
	margin-bottom: 10px;

}
p{
	font-size: 16px;

}
hr {
	margin: 60px auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 570px){
	nav li{
		line-height: 50px;
	}
	.photo-sp{
		display:none;
	}
}


img{
    margin:0 auto;

}
.col-sm-4 h3{
    text-align:center;
}

blockquote{
	margin: 30px 0;
	padding-left: 20px;
	font-size: 1.2em;
}



.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
    border-radius: 10%;
    margin: 3px;  border: 5px solid ddddd;
    padding: 2px;  background-color: #666666;
	/*border: 2px solid #ddd;
	box-shadow: 1px 1px 5px 1px #666666;*/
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
  padding: 1px;
  border-radius: 5%;
	border: 10px solid white;
	-webkit-box-shadow: 5px 5px 15px 2px #666666;
  box-shadow: 5px 5px 15px 2px #666666;
  max-width: 100%;
  height: auto;
  margin: 10px auto !important;
  display: block !important;
}
.hero-img{
	box-shadow: 5px 5px 15px 2px #666666;
  border-radius: 2%;
	border: 10px solid white;
	margin: 20px 0;
}
.fa-camera-retro{
	font-size: 8em;
	text-align: center;
	display:block;
	margin-left: 40px;
	margin-top: 10px;
	color: #15508a;
}

.icons .fa{
	font-size: 3em;
    color: #CDEAF8;

}
.icons{
	text-align:center;
	padding: 15px 0 ;
    color: #35cad2;
    max-width:1200px;
    margin:0 auto;

}
.big-3{
	text-align:center;
}

.big-3 i.fa{
	font-size: 6em;
	color: #15508a;
}




footer{
	clear:both;
	background-color: #0c3f5c;
	color: white;
	border-top: 1px solid black;
	color:white;
	margin:40px 0 0 0;
	display:block;
}

footer a{
	text-decoration:none;
}
footer a:link{
	color:white;
}
footer a:visited{
	color:white;
}
footer a:hover{
	color:#CDEAF8;
	text-decoration: none;
}
footer a:active{
	color: #eeeeee;
}

.footer-bottom{
	background-color: #15508a;
	padding: 10px;
	color: #CDEAF8;
	text-align:center;
	width: 100%;
}

.icons .fa{
    color: #ffffff;
}

button{
	background-color: #15508a;
	color: white;
	padding: 3px 15px;
	border-radius: 3px;
}
button:hover{
	background-color: black;
}



.mobile{
	display:none;
}
@media only screen and (max-width: 768px){
	.desktop{
		display:none;
	}
	.mobile{
		display: block;
		touch-action: manipulation;
	}
}








/* CSS for tablet */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
	}
}

/* CSS for Smartphones */
@media only all and (max-width: 768px) {
	h1{
	    font-size: 1.5em;
	}
}
